@page
@model Leome.Pages.People.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.LastName" class="control-label"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.FirstMidName" class="control-label"></label>
                <input asp-for="Person.FirstMidName" class="form-control" />
                <span asp-validation-for="Person.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Phone" class="control-label"></label>
                <input asp-for="Person.Phone" class="form-control" />
                <span asp-validation-for="Person.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.City" class="control-label"></label>
                <input asp-for="Person.City" class="form-control" />
                <span asp-validation-for="Person.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.CanRelocate" class="control-label"></label>
                <input asp-for="Person.CanRelocate" class="form-control" />
                <span asp-validation-for="Person.CanRelocate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PrefersRemote" class="control-label"></label>
                <input asp-for="Person.PrefersRemote" class="form-control" />
                <span asp-validation-for="Person.PrefersRemote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthDate" class="control-label"></label>
                <input asp-for="Person.BirthDate" class="form-control" />
                <span asp-validation-for="Person.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var tag in Model.SelectedTags)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedTags"
                                               value="@tag.PersonTagId"
                                               @(Html.Raw(tag.Assigned ? "checked=\"checked\"" : "")) />
                                        @tag.PersonTag.Tag.TagType @: @tag.JobTag.Tag.Title
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
